legacy-peer-deps=true
audit=false
fund=false
@moi:registry=https://gitlab.moi-sy.net/api/v4/projects/20/packages/npm/
//gitlab.moi-sy.net/api/v4/projects/20/packages/npm/:_authToken=${GITLAB_ACCESS_TOKEN}
